<svg attr.viewBox="0 0 {{ pixels[0].length }} {{ pixels.length }}">
  <ng-container *ngFor="let row of pixels; index as y">
    <rect
      *ngFor="let color of row; index as x"
      [attr.x]="x"
      [attr.y]="y"
      width="1"
      height="1"
      attr.style="fill: {{ color }};"
      (click)="handleClick(x, y)">
    </rect>
  </ng-container>
</svg>
<app-editor
  *ngIf="selectedPixel !== null"
  [x]="selectedPixel.x"
  [y]="selectedPixel.y"
  [color]="pixels[selectedPixel.y][selectedPixel.x]"
  >
</app-editor>