svg {
  width: min(100vw, 100vh);
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: inline-block;
}
rect[selected=true] {
  fill: url(#RadialGradient1) !important;
}
.stop0 {
  stop-opacity: 0;
}
.stop1 {
  stop-color: black;
}